     /* @media Rule */
     
     @media only screen and (max-width:980px) {
         #main-container,
         #masthead {
             width: 980px;
         }
     }
     
     @media only screen and (max-width:768px) {
         #main-container,
         #masthead {
             width: 768px;
         }
     }
     
     @media only screen and (max-width:640px) {
         #main-container,
         #masthead {
             width: 640px;
         }
     }